@model IEnumerable<mrkdoc.Models.ContentMD>
@{
    ViewData["Title"] = "Добавление файла";
}
<h4>Выберите файл для загрузки</h4>
<div class="row">
    <div class="col-md-5">
        <form asp-action="AddFile" asp-controller="Home" asp-route-dirname="@ViewData["DirName"]" asp-route-filename="@ViewData["FileName"]" method="post" enctype="multipart/form-data">
            <input type="file" class="form-control-file" name="uploadedFile" multiple /><br>
            <input type="submit" class="btn btn-primary btn-sm" value="Загрузить выбранные файлы" />
        </form>
    </div>
</div>
 