@model mrkdoc.Models.ContentMD
@{
    ViewData["Title"] = "Добавление статьи";
}

<form class="form-inline" asp-action="AddTopic" method="post">
    <div class="form-group mx-sm-3 mb-2">
        <input asp-for="TopicName" placeholder="Название статьи..." class="form-control" style="min-width:450px">
    </div>
    <button id="success" type="submit" class="btn btn-success  mb-2" style="float:right;">Добавить</button>
</form>
